{% extends 'dashmain.html' %}

{% block title %}  إضافة حقيبه دراسيه {% endblock title %}


{% block body %}

    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                               <center>
                        <h5 class="body-font text-green">إضافة حقيبه دراسيه</h5>
                    </center>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-6 mb-4 mb-lg-0">
                                        <input type="text" name="name" id="name" class="form-control"
                                               placeholder="الأسم">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="link" id="link" class="form-control"
                                               placeholder="المسار الألكترونى">

                                    </div>
                                </div>
                                        <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="trainer" class="body-font">اختار مدرب</label>

<select class="form-control body-font" name="trainer" id="trainer">
{% for trainer in trainers  %}
  <option class="body-font" value="{{trainer.pk}}">{{trainer.first_name}} {{trainer.last_name}}</option>

{% endfor %}
</select> 
                                    </div>
                                </div>
                                     <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="number" name="total_hours" id="total_hours"
                                               class="form-control"
                                               placeholder=" عدد الساعات">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text" name="description" id="description"
                                               class="form-control"
                                               placeholder=" التفاصيل">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="start" class="body-font">تاريخ البدايه</label>
                                <br/>
                                        <input class="form-control" type="date" id="start" name="trip-start"
                                               value="2021-01-01"
                                               min="2021-01-01" max="2021-01-01">
                                        
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label for="end" class="body-font">تاريخ النهايه</label>
                                            <br/>
                                        </div>
             <div>

                                            <input class="form-control body-font" type="date" id="end" name="trip-start"
                                                   value="2021-01-01"
                                                   min="2021-01-01" max="2021-01-01">
             </div>
                                            
                                        </div>
                                              </div>
                                <div class="card-footer">
                                    <div class="form-group row">
                                        <div class="col-md-12" id="depend_div">
                                            <button type="submit" id="add_bag"
                                                    class="btn btn-success body-font"> إضافة
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}

{% block javascript %}
    <script>
        $(() => {
            $("#add_bag").on('click', event => {
                event.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{% url 'add-bag' %}',
                    data: {
                        'name': $('#name').val(),
                        'description': $('#description').val(),
                        'link': $('#link').val(),
                        'start': $('#start').val(),
                        'end': $('#end').val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'home-employee' %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });

            });

        });
    </script>
{% endblock javascript %}