{% extends 'main.html' %}
{% load static %}
{% block title %}
    الدائره الخضراء
{% endblock title %}

{% block content %}
    <main>

        <div class="ftco-blocks-cover-1">
            <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
            <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
                 style="background-image: url('../../../static/images/green_banner.png') ;  background-position: center center !important;">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-md-5 mt-5 pt-5">
                            <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
                            <h1 class="mb-3 font-weight-bold body-font">الدائره الخضراء</h1>
                            <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span
                                    class="mx-3">/</span>
                                <strong>خير السعوديه </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 center">
            <img src="{% static 'images/green_txt.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>

                <div class="row">

            {% for found in founds %}
                    <div class="course_card cc content">
                        <div class="card_needy" style="height: 6vh;">
                            <div class="itemright">
                                <i class="fa fa-building text-green" style="font-size: xx-large;"></i>
                            </div>
                               <div class="itemleft">
                                    <h4 class="body-font text-green" style="text-align:center; align-self: center; font-size:large;">{{ found.name }}</h4>
                            </div>
                        </div>
                                  <div class="card_needy" style="height: 6vh;">
                            <div class="itemright">
                                <i class="fa fa-newspaper-o text-green" style="font-size: xx-large;"></i>
                            </div>
                               <div class="itemleft">
                                    <h4 class="body-font text-green" style="text-align:center;  align-self: center; font-size:0.85rem;">{{ found.description }}</h4>
                            </div>
                        </div>
                        <div class="card_needy" style="height: 6vh;">
                            <div class="itemright">
                                <i class="fa fa-phone text-green" style="font-size: xx-large;"></i>
                            </div>
                               <div class="itemleft">
                                    <h4 class="body-font text-green" style="text-align:center; align-self: center; font-size:large;">{{ found.phone }}</h4>
                            </div>
                        </div>
                        <div class="card_needy" style="height: 6vh;">
                            <div class="itemright">
                                <i class="fa fa-map-marker text-green" style="font-size: xx-large;"></i>
                            </div>
                               <div class="itemleft">
                                    <h4 class="body-font text-green" style="text-align:center; align-self: center; font-size:large;">{{ found.address }}</h4>
                            </div>
                        </div>
                                                <div style="display:flex; align-items:center; justify-content:center; align-self: center; border-radius: 50px;margin-top: 1.5rem; ">
                                <a class="btn btn-success body-font" style="color:#ffffff; text-align: center;"
                                   href="{% url 'bag-list' found.pk %}">المزيد</a>
                            </div>


                    </div>
            {% endfor %}
        </div>

    </div>


    </main>

{% endblock content %}


