{% extends 'main.html' %}
{% load static %}

{% block title %}  صفحة البحث || خير السعوديه  {% endblock title %}

{% block content %}
    <div class="ftco-blocks-cover-1">
        <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
        <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
             style="background-image: url('../../../static/images/takafly.jpg')">
            <div class="container">
                <div class="row align-items-center ">

                    <div class="col-md-5 mt-5 pt-5">
                        <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
                        <h1 class="mb-3 font-weight-bold body-font">صفحة البحث </h1>
                        <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span class="mx-3">/</span>
                            <strong>صفحة البحث </strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

<div class="site-section">
 <div class="container">
     <div class="row">
         <center>
             <button class="btn btn-success body-font text-white" id="btn_Search" ><i class="fa fa-search-plus" aria-hidden="true"></i>
 </button>
         </center>
         <div id="search">
                                <form>
            {% csrf_token %}

         {% for filed in myfilter.form%}


                       {{ filed }}
                       {% endfor %}
                                <button id="btn_sub_search" type="submit" class="btn btn-success body-font text-white" >البحث</button>
                   </form>

         </div>
     </div>
 <hr/>
 <br/>
 <div class="row">
     {% for needy in neeedies %}
               <div class="col-md-4">
              <div class="card" style="text-align: center; ">
                  <div class="card-body">
                      <div class="pricing green">
<h3>{{ needy.name }}</h3>
                          <hr/>
<ul class="ul-check list-unstyled teal">
<li>{{ needy.details }}</li>
<li>{{ needy.job }}</li>
<li>{{ course.status }}</li>
</ul>
                     <center>
                          <span class="price">
<span>ريال{{ needy.ammount }}</span>
</span>
                     </center>

</div>
                  </div>


              </div>
</div>


     {% endfor %}

 </div>
 </div>
</div>

{% endblock content %}


{% block javascript %}
<script>
var search = false;
$(() => {
        $("#search").hide();
    $("#id_source_income").addClass('form-control body-font')
$("#id_home").addClass('form-control body-font')
        $("#id_name").addClass('form-control body-font')
            $("#id_health_status").addClass('form-control body-font')
        $("#id_name_part").attr('placeholder',"بحث بجزء من الأسم ")
        $("#id_name_part").addClass('form-control body-font')

$("#btn_Search").on("click", (e) => {
    e.preventDefault();
    if(search) {
            $("#search").hide();
 search = false
    }else {
            $("#search").show();
 search = true

    }
});

});
</script>

{% endblock javascript %}