{% load static %}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="footer-heading mb-3 text-black body-font">خير السعوديه</h2>
                <p class="mb-5 text-black body-font"> حركتنا قصة .. اجتمعنا لمبدأ .. ونفذنا اهدافنا … الخير من الناس الي الناس .. لنصنع وقف تفاعي مؤثر </p>
               <img src="{% static 'images/logo.png' %}" alt="logo"/>
                  <div class="top-social ml-auto">
                <a href="#"><span class="icon-facebook text-teal"></span></a>
                <a href="https://twitter.com/ksakhair?s=11"><span class="icon-twitter text-success"></span></a>
                <a href="#"><span class="icon-linkedin text-yellow"></span></a>
              </div>

          </div>

          <div class="col-lg-4 ml-auto">
            <div class="row">
              <div class="col-lg-4 ml-auto">
                <h2 class="footer-heading mb-4 text-black body-font" >تصفح الموقع</h2>
                <ul class="list-unstyled text-black">
                  <li><a class="text-black body-font" href="{% url 'about-page' %}"> <i class="fa fa-address-book"></i></a></li>
                  <li><a class="text-black body-font" href="{% url 'home-page' %}"><i class="fa fa-home"></i></a></li>
                  <li><a class="text-black body-font" href="{% url 'login' %}"><i class="fa fa-user"></i></a></li>
                  <li><a class="text-black body-font" href="{% url 'register' %}"><i class="fa fa-pencil-alt"></i></a></li>
                </ul>
              </div>


            </div>
          </div>
            <div class="col-lg-4">
<a class="twitter-timeline" data-width="350" data-height="350" data-dnt="true" href="https://twitter.com/KSAKhair?ref_src=twsrc%5Etfw">Tweets by KSAKhair</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        </div>
      </div>
    </footer>

