{% load static %}
<header class="site-navbar site-navbar-target" role="banner">

    {#    <div class="container mb-3" style="background-color: #5DBD7E;">#}
    {#        <div class="d-flex align-items-center">#}
    {#            <div class="site-quick-contact d-none d-lg-flex ml-auto ">#}
    {#                <div class="d-flex site-info align-items-center mr-5 text-cursive">#}
    {#                                    <span class="block-icon mr-3"><i class="fa fa-plus fa-xs text-white" id="inc_size"></i></span>#}
    {#                                    <span>حجم النص</span>#}
    {#                </div>#}
    {#                <div class="d-flex site-info align-items-center text-cursive">#}
    {#                                    <span class="block-icon mr-3 "><i class="fa fa-minus fa-xs text-white"  id="dec_size"></i></span>#}
    {#                                    <span><br></span>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container">
        <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="{% url 'home-page' %}"
                                                      class="text-black site-menu-toggle js-menu-toggle py-5"><span
                    class="icon-menu h3 text-black"></span></a></span>


            <nav style="font-size: 15px;" class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">

                <ul class="site-menu main-menu js-clone-nav mr-auto ">
                    <li><img src="{% static 'images/white-logo.png' %}" width="100"/></li>
                    <li class="text-cursive"><a href="{% url 'home-page' %}" class="nav-link ">الرئيسيه</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            حول المؤسسه
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-cursive" href="{% url 'about-page' %}">
                            عن خير السعودية
                            </a>
                            <a class="dropdown-item text-cursive" href="#"> 	رسالتنا ورؤيتنا
                                                            <a class="dropdown-item text-cursive" href="#"> 	تكافل و تمكين

                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-cursive" href="{% url 'ksa2030' %}">	خير السعودية ضمن 2030</a>

                            <a class="dropdown-item text-cursive" href="{% url 'register-volunteer' %}" >تطوع معنا
                            </a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            برامجنا
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-cursive" href="#">
                                المنتجات التكافليه الداعمه</a>
                            <a class="dropdown-item text-cursive" href="#">
                                الدائره الخضراء</a>
                            <a class="dropdown-item text-cursive" href="#">
                                برنامج التغيير الثقافى و الأثر للجمعيات
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-cursive" href="{% url 'enable-list' %}">
                                برامج التأثير </a>
                            <a class="dropdown-item text-cursive" href="#">
                                التمكين و التدريب</a>
                            <a class="dropdown-item text-cursive" href="#">
                                رمضان الخير </a>

                        </div>
                    </li>
                    {% if request.user.user_type == null %}
                        <li><a href="{% url 'login' %}" class="nav-link text-cursive">
                            تسجيل الدخول</a></li>
                    {% endif %}
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            إنشاء حساب </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-cursive" href="{% url 'register' %}">
                                مشرف رئيسيه</a>
                            <a class="dropdown-item text-cursive" href="{% url 'register-employee' %}">
                                مشرف تنمويه</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-cursive" href="{% url 'register-helper' %}">
                                مشرف مساعد</a>
                            <a class="dropdown-item text-cursive" href="{% url 'register-needy' %}">
                                محتاج</a>
                            <a class="dropdown-item text-cursive" href="{% url 'register-donator' %}">
                                متبرع</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            الخدمات الالكترونية
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-cursive" href="#">
                                دعم فنى </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-cursive" href="{% url 'contact-page' %}">
                                الأسئله و الأستفسارات</a>
                            <a class="dropdown-item text-cursive" href="{% url 'faq' %}">
                                الأسئله المتكرره</a>

                        </div>
                    </li>
                    {% if request.user.user_type %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الصفحه الشخصيه
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-cursive" href="{% url 'user-profile' %}">  {{ request.user.first_name }}  </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-cursive" href="{% url 'logout' %}"> خروج</a>

                            </div>
                        </li>
                    {% endif %}
          <li><a href="{% url 'login' %}" class="nav-link text-cursive">
                            متجر خير السعوديه</a></li>
                </ul>
            </nav>
{#            <div class="top-social ml-auto">#}
{#                <img src="{% static 'images/carts.png' %}" width="50" height="50"/>#}
{#            </div>#}

        </div>
    </div>


</header>

