{% extends 'main.html' %}
{%  load static %}
{% block title %} عن المؤسسسه {% endblock title %}


{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../../static/images/h1_hero.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
              <h1 class="mb-3 font-weight-bold body-font">عن المؤسسه</h1>
              <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span class="mx-3">/</span> <strong>عن المؤسسه</strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="site-section  bg-ebtsam" style="background-image: url('../../../static/images/1.png')">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">2002</span>
            <h3 class="text-black body-font">معاناة إنسانية</h3>
            <p class="body-font"><span>
معاناة إنسانية حدثت في عام 2000، وقودها فقدان أم
</span></p>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="site-section  bg-ebtsam" style="background-image: url('../../../static/images/2.png')">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">2010</span>
            <h3 class="text-black body-font">مشروع شبابي تفاعلي</h3>
            <p class="body-font"><span>ثم تحول عام 2010م إلى مشروع شبابي تفاعلي، يعمل بروح الفريق المتكاتف، موظفين الإعلام الجديد لإتاحة الخير  بصورة مباشرة للناس دون وسيط، مستهدفين شرائح متعددة من المجتمع، خاصة المرأة مطلقة كانت أم أرملة متعففة أو معيلة.
</span></p>

          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="site-section  bg-ebtsam" style="background-image: url('../../../static/images/3.png')">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">2016</span>
            <h3 class="text-black body-font">تطور المشروع</h3>
            <p class="body-font"><span>ومع تكاثف الجهود والاعتزاز بهذه الخدمة، تطور المشروع في عام 2016  ليصبح (وقفا) شاملا لكل الأمهات، تتجلى وظيفته في تقديم  الدعم والرسائل البناءة لتمكين المرأة الأرملة المتعففة،من ممارسة حياتها بيسر وتسهيل التواصل معها من خلال استثمار التقنية الحديثة.
</span></p>

          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="site-section bg-ebtsam" style="background-image: url('../../../static/images/4.png');">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">2019</span>
            <h3 class="text-black body-font">الآن</h3>
            <p class="body-font"><span>يعمل فريق (خير السعودية) التطوعي باختلاف المؤهلات والقدرات الإبداعية إلى جعل شبكات التواصل الاجتماعي مناخا مناسبا لتأدية الرسالة التي يهدف إليها مؤسسو المشروع، يتسع لكافة الحالات التي تطلب مساعدتها ؛ عبر توفير قنوات تفاعلية متخصصة وسهلة التناول، تدعم الفريق العامل لتقديم الخدمات بكل يسر

تتنوع صور العطاء والدعم لتشمل (السكن – مصاريف الطاقة – الغذاء – التعليم) وتُدرس جميع الطلبات بصورة علمية وفق أسس ومعايير واضحة تضمن العدالة للجميع
</span></p>

          </div>
        </div>
      </div>
    </div>



{% endblock content %}