{% extends 'main.html' %}
{%  load static %}
{% block title %} عن المؤسسسه {% endblock title %}


{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../../static/images/about_kheer.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
              <h1 class="mb-3 font-weight-bold body-font">عن المؤسسه</h1>
              <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span class="mx-3">/</span> <strong>عن المؤسسه</strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/aida2.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
<span class="text-cursive h5 text-green">عن خير السعوديه</span>
            <p class="body-font text-black "><span>

مشروع ريادة اجتماعية منظم ذو شخصية اعتبارية ومستقل مالياً يعمل على الربط ما بين فاعل
الخير والحالات الأقل حظاً بطريقة ميسرة وهو أحد مشاريع مؤسسة بلد الخير الوقفية المرخصة
برقم سجل رقم 1010570915 وصك وقفية صادر من محكمة الرياض برقم 401216929 لاستثمار
وتنمية مبلغ موقوف قابل للتنمية والاستثمار لاستمرار اهم منتجات مؤسسة بلد الخير الوقفية
</span></p>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="{% static 'images/aida4.jpg' %}" alt="Image" class="img-fluid">
          </div>
            <div class="col-md-3">
            <img src="{% static 'images/about1.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
                <span class="text-cursive h5 text-green">الأهداف العامة </span>
            <p class="body-font text-black"><span>
</span>توعية المجتمع بالمفهوم الواسع لأنسنه العمل الخيري والتكافل الاجتماعي وأهمية العطاء بوعي

	تعزيز الوعي : بأنسة العمل الخيري والتكافل الاجتماعي والعطاء بوعي عبر مواقع التواصل الاجتماعي
	استقطاب سفراء الخير : السعودية من المؤثرين في الإعلام الجديد
	تقديم برامج توعوية : قصيرة على مواقع التواصل الاجتماعي توعوي – حواري .
</p>

          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/about2.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-green">الرؤية </span>
            <p class="body-font text-black"><span>
الرؤية
ان تكون خير السعودية رائدة في انسنة العمل الخيري والتكافل الأجتماعي المتناغم ونشر ثقافة الخير والعطاء بوعي
في المملكة العربية السعودية .
            </span>
               </p>
            <span class="text-cursive h5 text-green">الرسالة </span>

           <p class="body-font text-black">

<span>
السعي لتمكين وتفعيل التكافل الاجتماعي باستخدام التقنيات الحديثة للربط بين الكيانات المقتدرة من المؤسسات والأفراد
والمستفيدات من الجمعيات الخيرية الرسمية في المملكة العربية السعودية .

            </span></p>

          </div>
        </div>
      </div>
    </div>



{% endblock content %}