{% extends 'main.html' %}
{% load static %}

{% block title %}  الأسئله المتكرره{% endblock title %}

{% block style %}
{#  <link rel="stylesheet" href="{% static 'faq/css/style.scss' %}">#}


{% endblock style %}



{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../../static/images/h1_hero.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
              <h1 class="mb-3 font-weight-bold body-font">  الأسئله المتكرره</h1>
              <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span class="mx-3">/</span> <strong>  الأسئله المتكرره</strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>
<div class="site-section bg-home">
<div class="container">
    <div class="row">
        <div class="col-10 mr-auto">
<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2 class="body-font text-green">الأسئله المتكرره</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger body-font" style="color: #5DBD7E" href="#0"><span>هل تغطي المنصة جميع مناطق المملكة؟</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
              <p class="body-font">

                  نعم، تتيح المنصة للمواطنين بمختلف مناطق المملكة فرصة المساهمة لصالح من تنطبق عليهم معايير الاستحقاق.

              </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger body-font" style="color: #5DBD7E" href="#0"><span> هل يعتبر دعم مستفيدي منصة خير السعوديه من صدقة السر ؟</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
<p class="body-font">
    " أفيدكم أن صدقة السر هي: ما يفعل من الخير في الخفاء والمقصود إخفاء التصدق بالمال ، وعدم إعلانه عند التصدق به وإخفاء الصدقة خير من إعلانها ، وهو محمول على صدقة التطوع وذلك أن فعل الخير في الخفاء من علامات الإخلاص في العمل ويكون أقرب للقبول عند الله ".


</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger body-font" style="color: #5DBD7E" href="#0"><span> هل تقتصر المساهمة في البرنامج على الدعم المالي فقط؟ أم هناك أشكال أخرى له؟</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
              <p class="body-font">
                  تتيح المنصة أشكالاً متعددة للدعم، لتوسيع مجالات المساهمة للأفراد والمنظمات، ليشمل إلى جانب الدعم المالي الدعم العيني (الأراضي والوحدات السكنية الجاهزة  وغيرها) .
              </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger body-font" style="color: #5DBD7E" href="#0"><span>كيف تتم المساهمة في الدعم؟</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
              <p class="body-font">
                  بإمكان المساهم تقديم مساهمته بكل يسر وسهولة عن طريق الدخول على المنصة واختيار خانة ( مساهمة)، ثم تعبئة البيانات والبدء بعملية المساهمة سواء لمشاريع دعم الإيجار أو دعم مشاريع توفير المسكن .


              </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul>
</div>
        </div>
    </div>
</div>
</div>




{% endblock content %}




{% block javascript %}
<script src="{% static 'faq/js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{% static 'faq/js/main.js' %}"></script>

{% endblock javascript %}