{% extends 'main.html' %}
{% load static %}

{% block title %}  الأسئلة الشائعة{% endblock title %}





{% block content %}
    <div class="ftco-blocks-cover-1" style="margin-top: -113px;">
        <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('../../../static/images/faq.jpg')">
                    <div class="carousel-caption d-none d-md-block text-lay-image" style="height: 380px; width: 100%;">
                        <h2 class="body-font text-green"
                            style="color: #2D6D93 !important; font-size: 50px; font-weight: bold;">الأسئلة الشائعة </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="site-section ">
<div class="container ">
    <div class="row">
        <div class="col-10 mr-auto">
<div>
		<ul id="" class="bg-home">
<center>
<li class="body-font"><h2 class="body-font text-blue head-size">الأسئلة الشائعة</h2></li>
</center>
            <hr/>
	{% for faq in faqs %}

            		<li class="body-font">
				<a class="body-font" style="color: #5DBD7E" href=""><span>{{ faq.title }}</span></a>
				<div class="">
          <div class="">
              <p class="body-font">
{{ faq.content }}             </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

            {% endfor %}






		</ul>
</div>
        </div>
    </div>
</div>
</div>




{% endblock content %}




{% block javascript %}
<script src="{% static 'faq/js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{% static 'faq/js/main.js' %}"></script>

{% endblock javascript %}