{% extends 'main.html' %}
{% load static %}
{% block title %} خير السعودية{% endblock title %}


{% block content %}
       <div class="ftco-blocks-cover-1">

      <div class="site-section-cover overlay">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red body-font">  خير السعودية</span>
              <h1 class="mb-3 font-weight-bold text-teal body-font">حركتنا قصة  اجتمعنا لمبدأ  ونفذنا اهدافنا</h1>
              <p class="body-font"> الخير من الناس الي الناس  لنصنع وقف تفاعي مؤثر</p>
              <p class="mt-5"><a href="{% url 'login' %}" class="btn btn-teal text-white py-4 btn-custom-1 body-font">شارك فى الخير</a></p>
            </div>
            <div class="col-md-6 ml-auto align-self-end body-font">
              <img src="{% static 'images/kid_transparent.png' %}" alt="Image" class="img-fluid">

            </div>
          </div>
        </div>
      </div>
    </div>
 <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-home"></span>
              </span>
              <h2 class="body-font"> <a href="#" class="btn btn-green py-4 text-white btn-custom-1 body-font"> طلب مساعده </a></h2>
              <p class="body-font">نسعى جاهدين لخدمة كل من يطلب مساعده</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-person"></span>
              </span>
              <h2 class="body-font"><a href="#" class="btn btn-green py-4 btn-custom-1 body-font"> أنواع الخير </a></h2>
              <p class="body-font">للخير انواع شارك بمساهمه فوريه او شهريه او سنويه </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-cog"></span>
              </span>
              <p class="body-font">نستقبل أسئلتكم فى أى و قت على مدار اليوم طوال ايام الأسبوع</p>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="site-section bg-home">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <span class="text-cursive h5 text-red body-font">مساحه للإعلانات</span>
            <h3 class="text-white text-center body-font text-black">الأعلانات</h3>
          </div>
        </div>
        <div class="row align-items-stretch">

		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                <div class="item">
                    <div class="pad15">
                       <img src="{% static 'images/5.png' %}" />
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                              <img src="{% static 'images/6.png' %}"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                         <img src="{% static 'images/Hykaya-Banner-4-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                              <img src="{% static 'images/Hykaya-Banner-4-1.png' %}" width="100" height="100" />

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                             <img src="{% static 'images/2.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                               <img src="{% static 'images/Hykaya-Banner-3-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                              <img src="{% static 'images/Hykaya-Banner-2-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                           <img src="{% static 'images/Hykaya-Banner-1-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                            <img src="{% static 'images/Hykaya-Banner-4-1.png' %}" width="100" height="100"/>

                    </div>
                </div>

            </div>
            <button class="btn btn-teal rightLst"><</button>
            <button class="btn btn-teal leftLst">></button>
        </div>



        </div>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <img src="{% static 'images/family-in-home.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red body-font">عن المؤسسه</span>
            <h3 class="text-black body-font">فريق العمل الإبداعي</h3>
            <p class="body-font"><span> تنوعوا بالادوات والمؤهلات واختلفوا في الاساليب والطرق ولكنهم اشتركوا بحب المضى على مبدأ التكاتف والتكافل الانساني</span><span>هم أرواح شبابية خلاقة من مبادرين بالفكرة , ملهمين للحلول , مؤمنين بالتكافل , شغوفين للانجاز </span></p>

            <p class="mt-5"><a href="{% url 'about-page' %}" class="btn btn-green text-white py-4 btn-custom-1">أقرا المزيد</a></p>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
      <div class="row">
            <div class="col-md-4">
            <span class="text-cursive h5 text-red d-block body-font">التمكين</span>
            <h2 class="text-black body-font">رؤيه جديده للمساعدة المحتاج</h2>
            <p class="body-font">مؤسسة خير السعودي توفر لك جميع السبل لتقديم أى مساعده ممكنه</p>
          </div>
      </div>
        <div class="row">
              <p ><a href="{% url 'enable-list' %}" class="btn btn-teal btn-custom-1 mt-4 body-font">قائمة التمكين</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>

 <div class="site-section bg-home">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <span class="text-cursive h5 text-red body-font">شركاؤنا</span>
            <h3 class="text-white text-center body-font text-black">أهدافنا و طوحاتنا ان يصل الخير لمستحقيه</h3>
          </div>
        </div>
        <div class="row align-items-stretch">

		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                <div class="item">
                    <div class="pad15">
                       <img src="{% static 'images/5.png' %}" />
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                              <img src="{% static 'images/6.png' %}"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                         <img src="{% static 'images/Hykaya-Banner-4-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                              <img src="{% static 'images/Hykaya-Banner-4-1.png' %}" width="100" height="100" />

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                             <img src="{% static 'images/2.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                               <img src="{% static 'images/Hykaya-Banner-3-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                              <img src="{% static 'images/Hykaya-Banner-2-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                           <img src="{% static 'images/Hykaya-Banner-1-1.png' %}" width="100" height="100"/>

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                                            <img src="{% static 'images/Hykaya-Banner-4-1.png' %}" width="100" height="100"/>

                    </div>
                </div>

            </div>
            <button class="btn btn-teal rightLst"><</button>
            <button class="btn btn-teal leftLst">></button>
        </div>



        </div>
      </div>
    </div>

{% endblock content %}


{% block javascript %}
    <script>
    $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});
    </script>
    {% endblock javascript %}