{% extends 'main.html' %}
{%  load static %}
{% block title %} التكافل  {% endblock title %}


{% block content %}
    <div class="ftco-blocks-cover-1" style="margin-top: -113px;">
        <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('../../../static/images/takfel.png')">
                    <div class="carousel-caption d-none d-md-block text-lay-image" style="height: 380px; width: 100%;">
                        <h2 class="body-font text-green"
                            style="color: #2D6D93 !important;    white-space: nowrap; font-size: 50px; font-weight: bold;">التكافل الأجتماعى  </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'images/tamkeen_takfel_new.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 ml-auto pl-md-6">
<span class="text-cursive h5 text-green head-size">  التكافل الاجتماعي  </span>
              <hr/>
            <p class="body-font text-black " style="font-size: 20px;"><span>
 تم تفعيل التكافل الاجتماعي (تفريج الكرب) باستخدام التقنيات الحديثة للربط بين الكيانات المقتدرة من المؤسسات والأفراد من فاعلي الخير والمستفيدات من الجمعيات الخيرية الرسمية في المملكة العربية السعودية منذ عام 2010 – 2020 تم تغطية عدد من أنوع الدعم تشمل الايجار السكني – فواتير المياه – فواتير الكهرباء- المؤونة الغذائية -الضائقات المالية – دعم الصحة والتعليم ،ولاعتماد الاستدامة كقيمة أساسية في ادائنا لتخفيف الفقر توجهنا الى تمكين المستفيدات من خلال تطويرهن واعدادهن لسوق العمل عن طريق توفير عدة برامج ودورات تدريبية .

            </span></p>

          </div>
        </div>
      </div>
    </div>




{% endblock content %}